<footer>
    <div class="f-info">
        <div class="f-info-socials">
            <a href="https://www.facebook.com/ramraj.nagapure"><i class="fa-brands fa-square-facebook"></i></a>
            <a href="https://www.instagram.com/ramrajnagapure/?__pwa=1"><i class="fa-brands fa-square-instagram"></i></a>
            <a href="https://www.linkedin.com/in/ramraj-nagapure-34ba54293/"><i class="fa-brands fa-linkedin"></i></a>
        </div>
        <div class="f-info-brand">&copy;Wanderlust Private Limited</div>
        <div class="f-info-links">
            <a href="/terms">Term</a>
            <a href="/privacy">Privacy</a>
        </div>
    </div>
</footer>