body {
    font-family: "Plus Jakarta Sans", sans-serif !important;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    flex: 1;
}

.navbar {
    height: 5rem;
    background-color: white;
}

.navbar-nav {
    white-space: nowrap; /* Prevent items from wrapping */
}

.fa-compass {
    color: #fe424d;
    font-size: 2rem;
}

.nav-link {
    color: #222222 !important;
}

/* footer */
.f-info {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: space-evenly;
    height: 8rem;
    background-color: #ebebed;
}

.f-info-links,
.f-info-socials,
.f-info-brand {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.f-info-socials i {
    margin-right: 2rem;
    font-size: 1.2rem;
}

.f-info-links a {
    text-decoration: none;
    color: #222222;
}

.f-info-links a:hover {
    text-decoration: underline;
}

.listing-card {
    border: none !important;
    margin-bottom: 2rem;
}

.card-img-top {
    border-radius: 1rem !important;
    width: 100% !important;
    object-fit: cover !important;
}

.card-body {
    padding: 0 !important;
}

.card-text {
    font-weight: 400 !important;
}

.listing-link {
    text-decoration: none;
}

/*card effect */
.card-img-overlay {
    opacity: 0;
}

.card-img-overlay:hover {
    opacity: 0.2;
    background-color: white;
}

.add-btn,
.edit-btn {
    background-color: #fe424d !important;
    border: none !important;
}

/*show image */
.show-img {
    height: 30vh;
}

.btns {
    display: flex;
}

.show-card {
    padding-left: 0;
    padding-right: 0;
}

.preview-img {
    border-radius: 1rem;
    width: 30%;
    object-fit: cover;
    height: 30vh;
}

/* map */
#map {
    width: 550px;
    height: 50vh;
}

/* Filter */
#filters {
    display: flex;
    justify-content: center; 
    align-items: center;
    padding: 1rem; 
    background-color: #f8f9fa; 
    border-radius: 0.5rem;
    flex-wrap: nowrap;
    overflow-x: auto;
}

.sidebar-filters{
    display: flex;
    flex-direction: column;
    justify-content: flex-start; 
    align-items: flex-start;
    padding: 1rem; 
    background-color: #f8f9fa; 
    border-radius: 0.5rem;
    flex-wrap: nowrap;
    overflow-x: auto;
}

#filters a {
    text-decoration: none;
    color: #222222;
}

.filter {
    text-align: center;
    margin-right: 1rem; 
    padding: 0.5rem; 
    border-radius: 0.5rem; 
    opacity: 0.7;
    transition: background-color 0.3s, opacity 0.3s;
}

.filter:hover {
    opacity: 1.0;
    cursor: pointer;
    background-color: #e2e6ea; 
}

.filter p {
    font-size: 1rem;
    margin: 0; 
}

/* Tax Toggle */
.tax-toggle {
    border: 1px solid #ccc; 
    border-radius: 1rem;
    height: 3rem;
    padding: 0.75rem 1.5rem; 
    display: flex;
    align-items: center;
    background-color: #ffffff; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    white-space: nowrap;
    margin-top: 0; 
}


/* Sidebar Specific Styles */
.offcanvas-body {
    padding: 1rem; 
    background-color: #f8f9fa; 
}

.offcanvas-body .filter {
    border: 1px solid #dee2e6;
    margin-bottom: 0.5rem; 
}

/* Search Button */
.search-btn {
    background-color: #fe424d;
    color: #fff;
    border-radius: 25px;
    padding: 0 1rem; 
    min-width: 100px; 
    height: 2.5rem;
    font-size: 1rem; 
}

.search-btn:hover {
    background-color: #d03b43; 
}

.search-btn i {
    display: inline;
    margin-right: 0.5rem;
}

.filter-dropDown{
    text-decoration: none !important;
    color: #222222;
}

/* Search Input */
.search-input {
    border-radius: 25px;
    padding: 0.5rem;
}

.search-input::placeholder {
    color: #aaa; 
    opacity: 1; 
}

.btn.search-btn.d-md-none {
    padding: 0.5rem; 
    min-width: 50px; 
}

.sidebar-link{
    text-decoration: none !important;
    color: #222222;
}

.f-info-socials a{
    text-decoration: none !important;
    color: #222222;
}